<ion-view view-title="ToDo List">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="list animate-fade-slide-in-right">
            <ul class="list">
                <li class="item">
                    <ion-checkbox class="checkbox-assertive">Task 1</ion-checkbox>
                </li>

                <li class="item">
                    <ion-checkbox class="checkbox-assertive">Task 2</ion-checkbox>
                </li>

                <li class="item">
                    <ion-checkbox class="checkbox-assertive">Task 3</ion-checkbox>
                </li>

                <li class="item">
                    <ion-checkbox class="checkbox-assertive">Task 4</ion-checkbox>
                </li>

                <li class="item">
                    <ion-checkbox class="checkbox-assertive">Task 5</ion-checkbox>
                </li>
            </ul>
        </div>
    </ion-content>
</ion-view>